@import url( "https://fonts.googleapis.com/css?family=Dancing+Script&display=swap&effect=anaglyph" );
@import url( "https://fonts.googleapis.com/icon?family=Material+Icons" );

.anaglyph{
    animation: anaglyph 2s ease infinite alternate;
}

@keyframes anaglyph {
    0% {
        text-shadow: -0.06em 0 red, 0.06em 0 cyan;
    }
    100% {
        text-shadow: -0.04em 0 red, 0.04em 0 cyan;
    }
}
@keyframes fade-away {
    0% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.5;
    }
}

:root {
    --delay: 0.1s;
    --game-len: 4;
    --game-size: 70px;
    --gap-size: 20px;
    --border-len: calc( var( --gap-size ) / 4 );
    --game-border-radius: 10px;
    --negative-margin: -312px;
}

.slow {
    --delay: 0.4s;
}

body {
    margin: 0;
    user-select: none;
}
#title {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
    animation: fade-away 0.4s ease-out 4s forwards;
}
#title span {
    font-size: 20px;
}
h1 {
    margin: 20px 10px 0;
    text-align: center;
    font-size: 70px;
    font-family: 'Dancing Script', serif;
}
#game {
    margin: auto;
    margin-bottom: 100px;
    display: block;
    width: calc( var( --game-size ) * var( --game-len ) + var( --gap-size ) * var( --game-len ) + var( --gap-size ) );
    height: calc( var( --game-size ) * var( --game-len ) + var( --gap-size ) * var( --game-len ) + var( --gap-size ) );
    border-radius: calc( 2 * var( --game-border-radius ) );
    border: var( --border-len ) solid black;
    background-color: blueviolet;
}
#game ul {
    list-style-type: none;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#game li {
    position: absolute;
    cursor: pointer;
    width: var( --game-size );
    height: var( --game-size );
    border: var( --border-len ) solid black;
    border-radius: var( --game-border-radius );
    text-align: center;
    vertical-align: middle;
    line-height: var( --game-size );
    transition: left var( --delay ) ease-out, top var( --delay ) ease-out;
    font-family: 'Dancing Script', serif;
    font-size: calc( 0.8 * var( --game-size ) );
    background-color: burlywood;
}
[ data-left = "0" ] {
    left: calc( (1 - 0.25) * var( --gap-size ) + 0 * var( --game-size ));
}
[ data-left = "1" ] {
    left: calc( (2 - 0.25) * var( --gap-size ) + 1 * var( --game-size ));
}
[ data-left = "2" ] {
    left: calc( (3 - 0.25) * var( --gap-size ) + 2 * var( --game-size ));
}
[ data-left = "3" ] {
    left: calc( (4 - 0.25) * var( --gap-size ) + 3 * var( --game-size ));
}
[ data-top = "0" ] {
    top: calc( (1 - 0.25) * var( --gap-size ) + 0 * var( --game-size ));
}
[ data-top = "1" ] {
    top: calc( (2 - 0.25) * var( --gap-size ) + 1 * var( --game-size ));
}
[ data-top = "2" ] {
    top: calc( (3 - 0.25) * var( --gap-size ) + 2 * var( --game-size ));
}
[ data-top = "3" ] {
    top: calc( (4 - 0.25) * var( --gap-size ) + 3 * var( --game-size ));
}

#bottom-bar {
    display: block;
    position: fixed;
    bottom: 25px;
    left: 0;
    right: 0;
    height: 50px;
}
#bottom-bar ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 390px;
    height: 50px;
    border-radius: 50px;
    box-shadow: 0 1px 6px 0 rgba( 32, 33, 36, .28 );
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: rgba( 255, 255, 255, 0.75);
}
#bottom-bar li {
    font-family: 'Dancing Script', sans-serif;
    font-size: 40px;
    line-height: 50px;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    overflow: hidden;
    transition: margin 0.4s ease, width 0.4s ease;
}
#bottom-bar a.material-icons {
    cursor: pointer;
    font-size: 40px;
    line-height: 50px;
    transition: transform 0.4s ease;
}
#bottom-bar ul:not( .closed ) #moves {
    margin-left: var( --negative-margin );
}
#bottom-bar ul.closed #moves {
    margin-left: 0;
}
#bottom-bar ul:not( .closed ) #button-info {
    margin-right: 0;
}
#bottom-bar ul.closed #button-info {
    margin-right: var( --negative-margin );
}
#bottom-bar ul:not( .closed ) #switch .material-icons {
    transform: rotate( 0.5turn );
}
#bottom-bar li {
    width: 78px;
}
#bottom-bar #moves, #bottom-bar #time {
    width: 156px;
}
